body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Poppins' !important;
}

html{
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Poppins' !important;
}
.corpo {
    display: flex !important;
    position: fixed !important;
    background-color: #e9eef1 !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') ;
  }